<h1>New Book</h1>

<%= simple_form_for @book do |f| %>

  <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@book.errors.count, "error") %>
          prohibited this book title from being saved:
        </h2>
        <ul>
          <% @book.errors.each do |msg| %>
            <li>Book <%= msg %> is already on the list.</li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <p>
    <%= f.input :title, placeholder: 'e.g. Harry Potter',  error:''%>
  </p>

  <p>
    <%= f.input :author, placeholder: 'e.g. JK Rowling', error:'' %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>
<% end %>

<li>
  <%= link_to 'Back', books_path %>
  <%= render 'devise/menu/login_items' %>
</li>
